<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveController</servlet-name>
        <servlet-class>controller.ActiveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmController</servlet-name>
        <servlet-class>controller.ConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayFirstListController</servlet-name>
        <servlet-class>controller.DisplayFirstListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingController</servlet-name>
        <servlet-class>controller.PagingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>controller.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingRequestController</servlet-name>
        <servlet-class>controller.PagingRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRequestController</servlet-name>
        <servlet-class>controller.SearchRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveController</servlet-name>
        <url-pattern>/ActiveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmController</servlet-name>
        <url-pattern>/ConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayFirstListController</servlet-name>
        <url-pattern>/DisplayFirstListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingController</servlet-name>
        <url-pattern>/PagingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/RequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingRequestController</servlet-name>
        <url-pattern>/PagingRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRequestController</servlet-name>
        <url-pattern>/SearchRequestController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
